/*GLOBAL style*/
body {
  max-width:1024px ;
  float:none;
  margin: 0 auto;
}
/**/
.heading_style {
  display: flex;

  border-bottom: 10px groove lightslategrey;
}
.logo-image img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.headline > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
}
.navigation {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
/*COVER style*/
.cover {
  position: relative;
}
.cover img {
  object-fit: cover;
  position: relative;
  height: 500px;
  width: 100%;
}
.cover .breaking-news-feed {
  position: absolute;
  bottom: 4px;
  background-color: gray;
  opacity: 0.9;
  width: 100%
}
/*Top news style*/
.topnews {
  opacity: 0.7;
}
.nev {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 2px;
}
.topnews > .nev > .nev-text {
  font-size: 25px;
  margin-bottom: 0px;
}
.bottom-border {
  border-bottom: 2px solid rgb(196, 194, 194);
}
.feed-font {
  font-size: 20px;
  margin: 0px;
  padding: 15px;
}
/*Table style*/
.score-table {
  width: 115%;
  padding: 15px;
  opacity: 0.7;
}

.score-table td,
.score-table th {
  text-align: left;
  font-size: 20px;
  padding: 15px;
}
/**/
#temperature {
  position: relative;
  display: flex;
}
#temperature > img {
  height: 100%;
  width: 20%;
}
/*weather chart style*/
.weather-table {
  width: 100%;
  padding: 15px;
}
.weather-table th,
.weather-table td {
  text-align: center;
}
.weather-table img {
  width: 75%;
}
/**/
/*latest news feed style*/
.latest-news-style .news-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  border-bottom: 2px solid rgb(196, 194, 194);
}
.news-title p {
  margin-bottom: 5px;
  font-size: 20px;
}
.latest-content {
  padding: 15px;
  padding-top: 65px;
  width: 100%;
  border-bottom: 2px solid rgb(196, 194, 194);
}
.latest-content > .c-member{
  width: 100%;
}
.latest-content img {
  height: 100px;
  padding: 20px;
  padding-top: 0px;
}
.latest-content p{
  font-size: 20px;
}
footer > div{
  display: flex;
}
footer p{
  padding-left: 5%; 
  font-size: 20px;
}